header#Page-header
        nav
            a(href="/") ExpressJS Template
            a(href="/") Home
            a(href="/menu") MENU
            a(href="/about") ABOUT
            a(href="/contact") CONTACT