extends layout


append Main
    section.about-sec
        h2.about-brand About
        div.about-div
            p The Pizza Restaurant was founded in blabla by Mr. Italiano in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            div.intro-1
                p 
                    span.name The Chef?
                    |  Mr. Italiano himself
                    br
                    br
                    br
                    |  We are proud of our interiors.
                img(src="https://dummyimage.com/180x120/fff/000", alt="pic")

            div.intro-2
                img(src="./includes/img/001.jpg", alt="pic")
                h2 Opening Hours
                p Mon & Tue CLOSED
                    br
                    |  Wednesday 10.00 - 24.00
                    br
                    |  Thursday 10:00 - 24:00
                    br
                    |  Friday 10:00 - 12:00
                    br
                    |  Saturday 10:00 - 23:00
                    br
                    |  Sunday Closed

            section.background