extends layout


append Main
    section.contact-sec
        h2.contact-brand Contact
        div.contact-div
            p Find us at some address at some place or call us at 05050515-122330
                br
                span FYI!
                |  We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste.

            form
                h4 Reserve a table, ask for today's special or just send us a message:
                input(id="name" type="text" placeholder='NAME' required)
                input(id="name" type="text" placeholder='HOW MANY PEOPLE' required)
                input(id="name" type="text" placeholder='DATE AND TIME' required)
                input(id="name" type="text" placeholder='MESSAGE' )
                button(type="submit") SEND MESSAGE