extends layout

append Main
    section#homepage
        h1.brand 
            span THIN
            br
            |  CRUST PIZZA
        button(onClick='test()') LET ME SEE THE MENU
        p OPEN FROM 10AM TO 12PM